
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<div class="card-deck">
    <div class="card text-white bg-gradient-danger mb-5 " style="max-width: 40rem;">
        <div class="card-header">İSTATİSTİK</div>
        <div class="card-body">
            <h5 class="card-title">Toplam Kategori Sayısı</h5>
            <br />
            <h5 class="card-text"> @ViewBag.Categories</h5>
        </div>
    </div>
    <div class="card text-white bg-gradient-success mb-5 " style="max-width: 40rem;">
        <div class="card-header">İSTATİSTİK</div>
        <div class="card-body">
            <h5 class="card-title">Yazılım Kategorisi Başlık Sayısı</h5>
            <br />
            <h5 class="card-text"> @ViewBag.Headings</h5>
        </div>
    </div>
    <div class="card text-white bg-cyan mb-5 " style="max-width: 40rem; ">
        <div class="card-header">İSTATİSTİK</div>
        <div class="card-body">
            <h5 class="card-title">Yazarların İsimlerinde "a" Harfi Bulunanlar</h5>
            <br />
            <h5 class="card-text"> @ViewBag.Writers</h5>
        </div>
    </div>
</div>
<div class="card-deck">


    <div class="card text-white bg-fuchsia mb-3 " style="max-width: 60rem;">
        <div class="card-header">İSTATİSTİK</div>
        <div class="card-body">
            <h5 class="card-title">En Fazla Başlığı Olan Kategori Adı</h5>
            <br />
            <h5 class="card-text"> @ViewBag.HeadingMax</h5>
        </div>
    </div>
    <div class="card text-white bg-purple mb-3 " style="max-width: 60rem; height:auto">
        <div class="card-header">İSTATİSTİK</div>
        <div class="card-body">
            <h5 class="card-title">Kategoriler Tablosunda T/F Farkı </h5>
            <br />
            <h5 class="card-text"> @ViewBag.CategoryStatus</h5>
        </div>
    </div>
</div>